#content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

#box_inserimenti {
    display: flex;
    flex-direction: row;
    column-gap: 6vw;
}

.box_inserimento {
    position: relative;
    width: 120px;
}

.textBox_input {
    position: relative;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 20px;
    padding: 20px 10px 10px;
    z-index: 10;
}

.textBox_input ~ span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 10px 10px;
    color: #8e908e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 5;
    transition: all 0.5s;
}

.textBox_input ~ i {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff7d;
    font-family:Arial, Helvetica, sans-serif    ;
    border-radius: 5px;
    transition: all 0.5s;
}

.textBox_input:valid ~ span,
.textBox_input:focus ~ span {
    transform: translateX(-10px) translateY(-40px);
}

.textBox_input:valid ~ i,
.textBox_input:focus ~ i {
    height: 44px;
}

.textBox_input:valid,
.textBox_input:focus {
    outline: none;
}

#box_tachimetro {
    position: relative;
    width: 100%;
    height: max(100px, 18vw);
    margin-top: 30px;
}

.indice_tachimetro {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: max(15px, 2vw);
    margin: 0;
}

#i_15.indice_tachimetro {
    transform: translate(-750%, 120%);
    color: #009FB5;
}

#i_20.indice_tachimetro {
    transform: translate(-620%, -170%);
    color: #00B518;
}

#i_25.indice_tachimetro {
    transform: translate(-260%, -320%);
    color: #FFCF01;
}

#i_30.indice_tachimetro {
    transform: translate(160%, -320%);
    color: #B56922;
}

#i_35.indice_tachimetro {
    transform: translate(480%, -170%);
    color: #B22C00;
}

#i_40.indice_tachimetro {
    transform: translate(620%, 120%);
    color: #B20200;
}

#tachimetro {
    position: absolute;
    width: max(200px, 30%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#lancetta_tachimetro {
    position: absolute;
    width: max(16.6px, 2.5%);
    left: 50%;
    top: 50%;
    transition: transform 1.5s ease;
    transform-origin: 50% 90%;
    transform: translate(-60%, -47%) rotate(-90deg);
}

#BMI_value {
    margin: 0;
    font-size: max(20px, 2vw);
}

#information_box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: min(800px, max(200px, 60%));
}

#information_box > div {
    background-color: #38a67ed6;
    border-radius: 15px;
}

.information_title {
    background-color: #71b79d;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: min(15px, max(5px, 3vw));
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    position: relative;
    height: 2vw;
}

.information_title p {
    margin: 0;
    font-size: min(30px, max(10px, 2vw));
    transition: transform 1s ease,
    left 1s ease;
    position: absolute;
    left: 10%;
}

.information_title ~ p {
    transition: height 1s ease,
    padding 1s ease;
    overflow: hidden;
    margin: 0;
    padding: 0 20px 0 20px;
    font-size: 1.5vw;
}

.information_title span {
    display: block;
    transform: rotate(-90deg);
    font-size: min(30px, max(10px, 2vw));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transition: transform 1s;
    position: absolute;
    left: 4%;
}

#information_box > div:hover > .information_title {
    background-color: #3db387d6;
}

#information_box > div:hover > .information_title p {
    left: 100%;
    transform: translate(-100%, 0);
}

#information_box > div:hover > .information_title span {
    transform: rotate(90deg);
}